/*esto es para definir variables*/
/*
:root {
  --color: #828282;
}*/

/*dando estilo usando etiquetas y variables*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: verdana;
}


.header {
  background: url(../img/vps-cloud.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.headerfo {
  background: url(../img/pexels-photo-373543.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
/*
.header .navbar {
  background-color: transparent !important;
}
*/
.containers {
  width: 100%;
  background: white;
  margin: 15px auto;
}

.superior {
  background: white;
  overflow: hidden;
}

.logo {
  float: left;
  width: 35px;
  float: left;
}
/*opciones del menu*/
.menu {
  float: left;
  padding: 3px 3px 30px 300px;
}

.opciones li {
  float: left;
  list-style: none;
}

.opciones li a {
  color: black;
  padding: 25px;
  text-decoration: none;
  font-family: verdana;
}

.opciones li a:hover {
  background: #e1e1e9;
}

.slider {
  background: url(../img/person-holding-magnifying-glass-712786.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.slider:hover {
  filter: saturate(180%);
}

/*estas son para definir clases*/

.title {
  color: rgb(167, 185, 224);
  margin-top: 150px;
  text-align: center;
  font-weight: 700;
  font: italic bold 50px Georgia, Serif;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 15px;
}

.frase {
  text-align: center;
  font: italic bold 30px Georgia, Serif;
  padding-top: 30px;
  margin-top:20px ;
  color: #4e4661;
  font-size: 2.5rem;

}

.premisa {
  text-align: center;
  font: italic bold 25px Georgia, Serif;
  padding: 15px 0px 50px 0px;
  margin-left: 20%;
  margin-right: 20%;
  color: #4e4661;
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.righ {
  text-align: right;
}

.cuerpo {
  background: url(../img/schedule-planning-startup-launching-7376.jpg)no-repeat center;
  overflow: hidden;
  height: 600px;
  margin-top: 20px;
}

.text-servicio{
  font-size: 4rem;
  text-shadow: 2px 2px 8px rgb(173, 59, 173);
  padding-bottom: 20px;
  margin-bottom: .5rem;
  margin-top: 5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  display: block;

}

.subtitulo {
  background: white;
  border-radius: 160px
}

.caja {
  float: left;
  margin: 50px;
}



.servicio {
  color: rgb(46, 21, 46);
  text-align: center;
  padding: 10px 0;
  text-shadow: 1px 1px 6px #4e4661;
}

.efecto:hover {
  opacity: 0.8;
  cursor: pointer;
}

.efecto {
  width: 300px;
  height: 200px;
  border-radius: 160px;
  border: 5px solid rgb(126, 75, 75);
  padding: 0;
}

.cabecera {
  text-align: center;
  float: center;
  display: block;
  border: 1px;
}

.aviso {
  text-align: center;
  color: red;
  font-family: monospace;
  font-size: 5em;
  font-style: bold;
}

.columna {
  float: right;
  width: 220px;
  margin: 20px 0px;
  padding: 20px;
  background: #cccccc;
}
.pie {
  clear: both;
  text-align: right justify;
  padding: 5px;
  font-weight: bold;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10;
  margin-top: 5px;
  border-top:1px solid #999999;
  background: rgba(22, 136, 167, 1);
  background: -moz-linear-gradient(
    left,
    rgba(22, 136, 167, 1) 0%,
    rgba(23, 119, 146, 0.98) 41%,
    rgba(21, 108, 132, 0.97) 56%,
    rgba(21, 96, 117, 0.97) 74%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(22, 136, 167, 1)),
    color-stop(41%, rgba(23, 119, 146, 0.98)),
    color-stop(56%, rgba(21, 108, 132, 0.97)),
    color-stop(74%, rgba(21, 96, 117, 0.97))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(22, 136, 167, 1) 0%,
    rgba(23, 119, 146, 0.98) 41%,
    rgba(21, 108, 132, 0.97) 56%,
    rgba(21, 96, 117, 0.97) 74%
  );
  background: -o-linear-gradient(
    left,
    rgba(22, 136, 167, 1) 0%,
    rgba(23, 119, 146, 0.98) 41%,
    rgba(21, 108, 132, 0.97) 56%,
    rgba(21, 96, 117, 0.97) 74%
  );
  background: -ms-linear-gradient(
    left,
    rgba(22, 136, 167, 1) 0%,
    rgba(23, 119, 146, 0.98) 41%,
    rgba(21, 108, 132, 0.97) 56%,
    rgba(21, 96, 117, 0.97) 74%
  );
  background: linear-gradient(
    to right,
    rgba(22, 136, 167, 1) 0%,
    rgba(23, 119, 146, 0.98) 41%,
    rgba(21, 108, 132, 0.97) 56%,
    rgba(21, 96, 117, 0.97) 74%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1688a7', endColorstr='#156075', GradientType=1 );
}

color-text-h3{
  color:white;
}

