:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #f4623a;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f4623a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Balsamiq Sans', cursive;
}


main {
  flex-grow: 1;
}

.app-header {
  padding: 1rem;
  background-color: white;
  color: #222;
}


a {
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
}

.hero-image {
  min-height: 70vh;
  background-image: url(../assets/img/pexels-photo-1148820.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% center;
  border-radius: 3%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(122, 128, 220, 0.65);
  font-size: 1vw;
}


img {
  max-width: 100%;
  height: 50%;
}

.myButton {
  background: linear-gradient(to bottom, rgb(5, 136, 212), #74d 100%);
  background-color: #74d;
  border-radius: 28px;
  border: 1px solid whitesmoke;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin: 1em;
  font-size: 15px;
  padding: 10px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  opacity: 60%;
}

.myButton:hover {
  background: linear-gradient(to bottom, #7c4f4f 10%, #d88a8a 100%);
  background-color: #f02222;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.hero-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  padding: 0 auto;
}


@media screen and (min-width: 1024px) {
  .app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    padding: .5rem;
    list-style: none;
  }

  .menu li a {
    color: #222;
  }

  .menu li :hover {
    padding: .5em;
    background-color: #74d;
    opacity: 20%;
    color: #343a40;
    border-radius: 15%;
  }


  .btn-danger {
  font-size: 1.5rem;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c66666;
  border-color: #c66666;
} 
}